<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/css/bootstrap.css">
    <script src="src/js/bootstrapjs1.js"></script>
    <script src="src/js/bootstrapjs2.js"></script>
    <script src="src/js/bootstrapjs3.js"></script>
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/css/w3css.css">
    <script src="src/js/script.js"></script>

</head>

<body>
    <div style="width:100%;position: fixed;z-index:200;" class="shadow-lg p-2 w3-blue-gray">
        <div id="showmenu" onclick="w3_open()" class="hide show-small container show-sidebar w3-animate-opacity">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div id="closemenu" style="margin-left:-7px" onclick="w3_close()" class="hide-small change container close-sidebar w3-animate-opacity">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="d-flex justify-content-end">
            <!-- ********************************************************************************************************* -->
            <!-- Notification -->
            <div class="dropdown">
                <div class="mr-2" type="button" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i style="font-size:20px;" class="fa fa-bell mr-4 mt-2"></i>
                    <span style="position:absolute;right:10px;" class="badge badge-pill badge-warning notification">3</span>
                </div>
                <div style="margin-right:5%;margin-top: 10px;width: 350px;" class="dropdown-menu scrollable-menu" aria-labelledby="notification">
                    <br>
                    <div class="mb-1 bg-warning py-2 rounded-top" style="border-bottom:1px solid gray;margin-top: -29px">
                        <h5 class="ml-3 "><b>Notification</b></h5>
                    </div>
                    <ul style="overflow: scroll;height: 400px;" class="list-unstyled">
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- ********************************************************************************************************* -->
            <!-- Messages -->
            <div class="dropdown">
                <div class="mr-2" type="button" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i style="font-size:20px;" class="fa fa-envelope mr-4 mt-2"></i>
                    <span style="position:absolute;right:6px;" class="badge badge-pill badge-success notification">7</span>
                </div>
                <div style="margin-right:5%;margin-top: 10px;width: 350px;" class="dropdown-menu scrollable-menu" aria-labelledby="notification">
                    <br>
                    <div class="mb-1 bg-success py-2 rounded-top" style="border-bottom:1px solid gray;margin-top: -29px">
                        <h5 class="ml-3 "><b>Messages</b></h5>
                        <div style="width:23px;height:23px;position:absolute;right: 15px;top: 15px" class="bg-white rounded-circle text-center">
                            <i class="fa fa-plus text-dark p-1"></i>
                        </div>
                    </div>
                    <ul style="overflow: scroll;height: 400px;" class="list-unstyled">
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-success"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-success"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-success"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-success"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-secondary"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-secondary"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-secondary"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-secondary"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                        <li style="border-bottom:1px solid gray" class="media mx-1 mb-1">
                            <img style="width:60px" class="mr-3 mt-1 rounded-circle" src="./src/img/user.jpg" alt="Generic placeholder image">
                            <i style="margin-top:50px;margin-left: -35px" class="fa fa-circle text-secondary"></i>
                            <div class="ml-4 media-body">
                                <h6 class="mt-2 mb-1">The quick little brown fox jumps over the lazy dog. The quick little brown fox jumps over the lazy dog.</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <img style="width:40px;margin-top:-5px" src="src/img/profile.png" alt="">
        </div>
        <div class="mt-1" style="border-top:1px solid white">
        </div>
    </div>
    <div class="page-wrapper chiller-theme toggled">
        <!-- Side Start Navigation -->
        <!-- ********************************************************************************************** -->
        <nav id="sidebar" class="sidebar-wrapper hide-small w3-animate-left">
            <div class="sidebar-content w3-animate-left">
                <div class="sidebar-brand">
                    <a href="#">CTU MIS</a>
                    <div class="close-sidebar" onclick="w3_close()">
                        <i class="fas fa-close"></i>
                    </div>
                </div>
                <div class="sidebar-header text-center">
                    <div style="margin-left:33%" class="user-pic">
                        <img class="rounded-circle" src="src/img/user.jpg" alt="User picture">
                        <div class="user-info">
                            <span class="user-status ml-sm-1">
                                <i class="fa fa-circle"></i>
                                <span>Online</span>
                            </span>
                        </div>
                    </div>
                    <span class="text-white"> <strong>John Paul Vistal</strong></span>
                    <span class="text-white">Administrator</span>
                </div>
                <!-- sidebar-header  -->

                <div class="sidebar-menu mb-5">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown active">
                            <a href="#" class="close-sidebar" onclick="w3_close()">
                                <i class="fas fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>E-commerce</span>
                                <span class="badge badge-pill badge-danger">3</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Products</a>
                                    </li>
                                    <li>
                                        <a href="#">Orders</a>
                                    </li>
                                    <li>
                                        <a href="#">Credit cart</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-gem"></i>
                                <span>Components</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">General</a>
                                    </li>
                                    <li>
                                        <a href="#">Panels</a>
                                    </li>
                                    <li>
                                        <a href="#">Tables</a>
                                    </li>
                                    <li>
                                        <a href="#">Icons</a>
                                    </li>
                                    <li>
                                        <a href="#">Forms</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-chart-line"></i>
                                <span>Charts</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Pie chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Line chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Bar chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Histogram</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                <span>Maps</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Google maps</a>
                                    </li>
                                    <li>
                                        <a href="#">Open street map</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>Documentation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span>Examples</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer mt-5">
                <a href="#" class="mb-4 mt-3">
                    <i data-placement="top" data-toggle="tooltip" title="Setting" class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#" class="mb-4 mt-3">
                    <i data-placement="top" data-toggle="tooltip" title="Log Out" class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- Side End Navigation -->
        <!-- ***************************************************************************************************** -->
        <div>
            <div class="w3-overlay w3-hide-large w3-animate-opacity close-sidebar" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        </div>
        <main class="page-content">
            <div class="container-fluid shadow-lg mt-2 w3-light-blue">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-sm w3-animate-zoom mb-2">
                        <div class="card bg-info text-center">
                            <button class="btn btn-info shadow-lg">
                                                    <a href="enrollmentform.html">
                                                    <div class="card-body">
                                                            <i style = "font-size: 120px;"class = "fa fa-file-alt text-dark"></i>
                                                    </div>
                                                   
                                                            <h5 class="card-footer">ENROLLMENT FORM</h5>
                                                    </a>   
                                            </button>

                        </div>
                    </div>
                    <div class="col-sm w3-animate-zoom mb-2">
                        <div class="card bg-success text-center">
                            <button class="btn btn-success shadow-lg">
                                                            <div class="card-body">
                                                                <i style = "font-size: 120px;"class = "fas fa-chart-line text-dark"></i>
                                                            </div>
                                                            <h5 class="card-footer">ENROLLMENT RECORDS</h5>
                                                    </button>

                        </div>
                    </div>
                    <div class="col-sm w3-animate-zoom mb-2">
                        <div class="card bg-primary text-center">
                            <button class="btn btn-primary shadow-lg">
                                                            <div class="card-body">
                                                                    <i style = "font-size: 120px;"class = "fas fa-money text-dark"></i>
                                                            </div>
                                                            <h5 class="card-footer">PAYMENT</h5>
                                     </button>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->



    <script>
        function w3_open() {
            document.getElementById("sidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("myOverlay").style.display = "none";
        }

        $(document).ready(function() {
            $("[data-toggle=tooltip]").tooltip();
        });
    </script>

</body>

</html>